@font-face { font-family: 'lato'; src: url(/src/assets/Lato-Regular-400.otf) format("opentype"); }

*{

    font-family:'lato', 'arial', sans-serif;

}

#logo {

    height: 27px;
    width: 83px;
    object-fit: contain;
    margin: -5px 5px 5px -10px;

}

ion-header {

    align-items: flex-start;
    background-color: var(--blue-gray);
    display: flex;
    height: 67px;
    left: 0;
    min-width: 376px;
    padding: 20px 28px;
    position: fixed;
    z-index: 4;

}


#menu {
    width: 27px;
    height: 20px;
    cursor: pointer;

}

ion-content h2 {
    align-self: flex-start;
    z-index: 1;
    margin-top: 105px;
    color: var(--blue-gray);
    font-size: 21px;
    font-weight: 900;
    font-style: normal;
    font-family: 'Lato';
}

ion-card-content {

    width: 320px;
    min-height: 29px;
    line-height: normal;

}

ion-card-header h5 {
    font-weight: 700;
    color: var(--black);
}

ul li {

    list-style-type: none;

}

a {
    text-decoration: none;
    color: var(--black);
}

ul {
    margin-top: 15%;

}