/* Import de la police "Lato" */


/* Modification de la forme sur la totalité  */
* {

    font-family: 'lato', 'arial', sans-serif;
}




/* Logo + Image */

#logo {

    height: 27px;
    width: 83px;
    object-fit: contain;
    margin: -5px 5px 5px -10px;
}


#menu {
    width: 27px;
    height: 20px;
    cursor: pointer;
}


#logo_check {

    margin: -117px 5px 5px -10px;
    cursor: pointer;
}


#logo_danger {

    margin: -117px 5px 5px -10px;
    cursor: pointer;
}

#logo_inter {

    margin: -117px 5px 5px -10px;
    cursor: pointer;
}



/*Survol du logo   */

#logo_danger:hover {

    transform: scale(1.2);

}

#logo_check:hover {

    transform: scale(1.2);
}


/*Contenu*/

#contentMenu {
    margin-top: 100px;
    width: 100vw;
    height: 100vh;
}

ion-header {

    align-items: flex-start;
    background-color: var(--blue-gray);
    display: flex;
    height: 67px;
    left: 0;
    min-width: 376px;
    padding: 20px 28px;
    position: fixed;
    z-index: 4;

}


ion-content h2 {
    align-self: flex-start;
    z-index: 1;
    margin-top: 105px;
    color: var(--blue-gray);
    font-size: 21px;
    font-weight: 800;
    font-style: normal;
    font-family: 'Lato';
}

.ion-title {
    color: var(--blanc);
    margin-left: 60px;

}


ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--black);
}



/*Card*/

ion-card-header h5 {
    font-weight: 700;
    color: var(--black);
}

ion-card-content {

    width: 320px;
    min-height: 29px;
    line-height: normal;

}

ion-card {

    border-radius: 1%;
    margin-top: 40px;
}

.card {
    margin-top: 50px;
}

