
<!--Application crée avec Ionic-->




<!--Menu Déroulant LifeAZ Partie caché -->


<ion-menu contentId="main-content">

  <ion-header>

    <ion-grid>
      <ion-title class="ion-title">Menu</ion-title>
      <ion-row class=" ion-justify-content-between" id="contentMenu">

        <!--Lien de navigation vers nos pages diverses -->


        <ul>
          <li><a routerLink="/defibrilateur" routerLinkActive="active"> DÉFIBRILATEURS</a></li><br><br>
          <li><a routerLink="/commandes" routerLinkActive="active"> COMMANDES</a></li>
        </ul>


        <ion-col size="1">

        </ion-col>
      </ion-row>
    </ion-grid>
    <!--<a routerLink="/commandes"  routerLinkActive="active">-->
  </ion-header>

</ion-menu>

<!--En-tête -->

<div class="ion-page" id="main-content">
  <ion-app>
    <ion-header>
      <ion-grid>
        <ion-row class=" ion-justify-content-between">
          <ion-col>
            <ion-img id="logo" [src]="logo_lifeaz" alt=" logo"></ion-img>
          </ion-col>
          <ion-col size="1">
            <ion-menu-toggle>

              <ion-img id="menu" [src]="logo_menu" alt=" logo"></ion-img>

            </ion-menu-toggle>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-header>


    <ion-content class="ion-padding">

      <h2>{{Title}}</h2>


      <p>Retrouvez-ici tous vos défibrillateurs. Vous pouvez voir s’ils sont fonctionnels, s’ils nécessitent de la
        maintenance, et en rechercher un en particulier.</p>

      <!--
    Création de Card
    Interpolation pour permettre de récuperer les donnée de la bdd par L'intermédiaire de Node JS
    La variable défi nous permet de parcourir chaque ligne de notre table defibrilator  -->

      <section class="card" *ngFor="let defibrilator of defibrilators">
        <ion-card>
          <ion-card-header>
            <h5>{{defibrilator.serial}}</h5>
          </ion-card-header>
          <ion-card-content>
            <strong>{{defibrilator.locationname}}</strong> {{defibrilator.locationaddr}}
          </ion-card-content>
          <ion-grid>
            <ion-row class=" ion-justify-content-around">
              <ion-col size="8">

              </ion-col>
              <ion-col size="1" *ngIf="defibrilator.state==0">
               <ion-img id="logo_check" [src]="logo_check" ></ion-img>
              </ion-col>
              <ion-col size="1" *ngIf="defibrilator.state==1">
                <ion-img id="logo_inter" [src]="logo_inter" ></ion-img>
               </ion-col>
               <ion-col size="1" *ngIf="defibrilator.state==2">
                <ion-img id="logo_danger" [src]="logo_danger" ></ion-img>
               </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

      </section>
